Bu projede bankaalrın müşterilerine krei verip vermemesini tahmin edecek bir model geliştirreceğiz

In [1]:
import pandas as pd

1-İşi anla
2-datayı anla
3-amacına uygun sutunlarsı belirle
4-eda veri manüpülasyonu 
5-boş verileri doldur
6- object olup numeric e çevrilebilecek sutunları numerice çevir
7-feature engineering
8-get dummies uygula
9-x ve y diye ayır 
10-train test split yap
11-fit ve predict
12-doğruluk oranını ölç

In [2]:
df=pd.read_csv('LoansTrainingSet.csv')

C:\Users\akbab\AppData\Local\Temp\ipykernel_18348\841172785.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('LoansTrainingSet.csv')

In [4]:
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,NaN,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,NaN,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,NaN,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,NaN,12,0,17391,37081,0.0,0.0

In [5]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                     61676
Years in current job             11476
Home Ownership                       0
Annual Income                    61676
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  0
Bankruptcies                       529
Tax Liens                           23
dtype: int64

In [6]:
df.shape

(256984, 19)

In [7]:
df['Credit Score'].value_counts()

Credit Score
747.0     5669
740.0     5537
741.0     5499
746.0     5486
742.0     5219
          ...
6070.0       3
5980.0       3
5910.0       3
5930.0       2
5860.0       1
Name: count, Length: 334, dtype: int64

In [10]:
df['Credit Score']

0          741.0
1          734.0
2          747.0
3          747.0
4          746.0
           ...
256979       NaN
256980     737.0
256981    7460.0
256982     746.0
256983     678.0
Name: Credit Score, Length: 256984, dtype: float64

In [11]:
df.shape

(256984, 19)

In [12]:
# Düzeltme fonksiyonu
def fix_credit_score(value):
    value = str(value)  # Sayıları string'e çevir
    if value in value:
        parts = value.split('.')
        if len(parts) > 1 and parts[0] == '4' and parts[1] == '0':  # 4 haneli ve 4. hanesi 0 mı?
            return parts[0][:3] + '.' + parts[1][:1]  # 4. haneyi kaldır
    return value  # Eğer şart sağlanmıyorsa değiştirme

# Uygulama
df['Credit Score'] = df['Credit Score'].apply(fix_credit_score)
df.shape

(256984, 19)

In [62]:
df['Credit Score'].value_counts()

Credit Score
747.0     5669
740.0     5537
741.0     5499
746.0     5486
742.0     5219
          ...
6070.0       3
5980.0       3
5910.0       3
5930.0       2
5860.0       1
Name: count, Length: 334, dtype: int64

1-silebilirsiniz
2-isttaistik kullanabilrisiniz.mode mean median
3-karar ağacı(model ile doldurma)
4-ffil bfil

In [15]:
df['Credit Score']=df['Credit Score'].fillna(method='ffill')

C:\Users\akbab\AppData\Local\Temp\ipykernel_18348\2702862714.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Credit Score']=df['Credit Score'].fillna(method='ffill')

In [16]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                         0
Years in current job             11476
Home Ownership                       0
Annual Income                    61676
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  0
Bankruptcies                       529
Tax Liens                           23
dtype: int64

In [17]:
df['Years in current job'].value_counts()

Years in current job
10+ years    78896
2 years      23462
< 1 year     21012
3 years      20659
5 years      17864
1 year       16746
4 years      16166
6 years      14597
7 years      13968
8 years      12206
9 years       9932
Name: count, dtype: int64

In [24]:
df['Years in current job']=df['Years in current job'].replace('<1 year','0')

In [25]:
df['Years in current job']=df['Years in current job'].fillna(df['Years in current job'].mode()[0])

In [19]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                         0
Years in current job                 0
Home Ownership                       0
Annual Income                    61676
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  0
Bankruptcies                       529
Tax Liens                           23
dtype: int64

In [20]:
df['Years in current job']=df['Years in current job'].str.extract('(\d+)').astype('int32')

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\akbab\AppData\Local\Temp\ipykernel_18348\3184517283.py:1: SyntaxWarning: invalid escape sequence '\d'
  df['Years in current job']=df['Years in current job'].str.extract('(\d+)').astype('int32')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  object
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  object
 5   Credit Score                  256984 non-null  object
 6   Years in current job          256984 non-null  int32
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 195308 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  object
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  116601 non-null  float64
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  object
 17  Bankruptcies                  256455 non-null  float64
 18  Tax Liens                     256961 non-null  float64
dtypes: float64(5), int32(1), int64(4), object(9)
memory usage: 36.3+ MB

In [26]:
df['Annual Income'].value_counts()

Annual Income
60684.0     31
49630.0     30
61188.0     30
59646.0     30
61134.0     28
            ..
65276.0      1
254462.0     1
126888.0     1
98337.0      1
30854.0      1
Name: count, Length: 60558, dtype: int64

In [29]:
df['Annual Income']=df['Annual Income'].fillna(df['Annual Income'].mean())

In [30]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                         0
Years in current job                 0
Home Ownership                       0
Annual Income                        0
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  0
Bankruptcies                       529
Tax Liens                           23
dtype: int64

In [31]:
df.shape

(256984, 19)

In [32]:
 df['Bankruptcies'].value_counts()

Bankruptcies
0.0    229661
1.0     25605
2.0       957
3.0       180
4.0        33
5.0        15
6.0         3
7.0         1
Name: count, dtype: int64

In [33]:
 df['Bankruptcies']= df['Bankruptcies'].fillna( df['Bankruptcies'].mode()[0])

In [34]:
df['Tax Liens']=df['Tax Liens'].fillna(df['Tax Liens'].mode()[0])

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  object
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  object
 5   Credit Score                  256984 non-null  object
 6   Years in current job          256984 non-null  int32
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 256984 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  object
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  116601 non-null  float64
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  object
 17  Bankruptcies                  256984 non-null  float64
 18  Tax Liens                     256984 non-null  float64
dtypes: float64(5), int32(1), int64(4), object(9)
memory usage: 36.3+ MB

In [36]:
df['Term'].value_counts()

Term
Short Term    192632
Long Term      64352
Name: count, dtype: int64

In [37]:
df['Term']=df['Term'].replace('Short Term','0')
df['Term']=df['Term'].replace('Long Term','1').astype('int32')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  object
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  int32
 5   Credit Score                  256984 non-null  object
 6   Years in current job          256984 non-null  int32
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 256984 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  object
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  116601 non-null  float64
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  object
 17  Bankruptcies                  256984 non-null  float64
 18  Tax Liens                     256984 non-null  float64
dtypes: float64(5), int32(2), int64(4), object(8)
memory usage: 35.3+ MB

In [58]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                     61676
Years in current job                 0
Home Ownership                       0
Annual Income                        0
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  4
Bankruptcies                         0
Tax Liens                            0
dtype: int64

In [39]:
df['Credit Score']=df['Credit Score'].astype(float)

In [59]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                     61676
Years in current job                 0
Home Ownership                       0
Annual Income                        0
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  4
Bankruptcies                         0
Tax Liens                            0
dtype: int64

In [40]:
df['Purpose'].value_counts()

Purpose
Debt Consolidation      203911
Home Improvements        14915
other                    14268
Other                     9667
Business Loan             4712
Buy a Car                 3276
Medical Bills             2868
Take a Trip               1570
Buy House                 1530
Educational Expenses       267
Name: count, dtype: int64

In [42]:
df['Purpose']=df['Purpose'].replace('other','Other')

In [43]:
df['Purpose'].value_counts

<bound method IndexOpsMixin.value_counts of 0         Debt Consolidation
1                      Other
2         Debt Consolidation
3         Debt Consolidation
4         Debt Consolidation
                 ...
256979    Debt Consolidation
256980    Debt Consolidation
256981    Debt Consolidation
256982    Debt Consolidation
256983    Debt Consolidation
Name: Purpose, Length: 256984, dtype: object>

In [44]:
df['Monthly Debt'].value_counts()

Monthly Debt
$0.00         254
$636.87        12
$679.66        12
$847.85        12
$838.10        12
             ...
$899.24         1
$339.53         1
$1,152.39       1
$2,711.19       1
$2,525.82       1
Name: count, Length: 129115, dtype: int64

In [46]:
df['Monthly Debt']=df['Monthly Debt'].str.replace('$','')
df['Monthly Debt']=df['Monthly Debt'].str.replace(',','')

In [48]:
df['Monthly Debt'].value_counts()

Monthly Debt
0.00        254
636.87       12
679.66       12
847.85       12
838.10       12
           ...
899.24        1
339.53        1
1152.39       1
2711.19       1
2525.82       1
Name: count, Length: 129115, dtype: int64

In [49]:
df['Monthly Debt']=df['Monthly Debt'].astype(float)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  object
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  int32
 5   Credit Score                  195308 non-null  float64
 6   Years in current job          256984 non-null  int32
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 256984 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  float64
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  116601 non-null  float64
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  object
 17  Bankruptcies                  256984 non-null  float64
 18  Tax Liens                     256984 non-null  float64
dtypes: float64(7), int32(2), int64(4), object(6)
memory usage: 35.3+ MB

In [53]:
df['Maximum Open Credit'].value_counts()

Maximum Open Credit
0        1597
0         234
10180      19
15662      19
14770      19
         ...
17558       1
42753       1
29185       1
36222       1
62371       1
Name: count, Length: 87188, dtype: int64

In [55]:
#df['Maximum Open Credit']=df['Maximum Open Credit'].astype('int32')

ValueError: invalid literal for int() with base 10: '#VALUE!'

In [56]:
df['Maximum Open Credit']=df['Maximum Open Credit'].replace('#VALUE!',float('nan'))

In [57]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                     61676
Years in current job                 0
Home Ownership                       0
Annual Income                        0
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  4
Bankruptcies                         0
Tax Liens                            0
dtype: int64

In [63]:
df['Maximum Open Credit']=df['Maximum Open Credit'].fillna(df['Maximum Open Credit'].median())

In [64]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                     61676
Years in current job                 0
Home Ownership                       0
Annual Income                        0
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  0
Bankruptcies                         0
Tax Liens                            0
dtype: int64

In [65]:
df['Maximum Open Credit']=df['Maximum Open Credit'].astype('int32')

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  object
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  int32
 5   Credit Score                  195308 non-null  float64
 6   Years in current job          256984 non-null  int32
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 256984 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  float64
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  116601 non-null  float64
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  int32
 17  Bankruptcies                  256984 non-null  float64
 18  Tax Liens                     256984 non-null  float64
dtypes: float64(7), int32(3), int64(4), object(5)
memory usage: 34.3+ MB

In [70]:
x = df.drop(['Loan ID', 'Customer ID', 'Loan Status', 'Months since last delinquent'], axis=1)
y = df[['Loan Status']]

In [71]:
x=pd.get_dummies(x,drop_first=True)

haftain_gunleri haftain_gunleri_pazartesi/haftain_gunleri_sali/haftain_gunleri/carsamba/
pazartesi                     1                   0                          0
sali                        0                      1                         0 
carsamba                     0                        0                      1

In [72]:
x.head()

,Current Loan Amount,Term,Credit Score,Years in current job,Annual Income,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,...,Home Ownership_Own Home,Home Ownership_Rent,Purpose_Buy House,Purpose_Buy a Car,Purpose_Debt Consolidation,Purpose_Educational Expenses,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip
0,11520,0,741.0,10,33694.0,584.03,12.3,10,0,6760,...,False,False,False,False,True,False,False,False,False,False
1,3441,0,734.0,4,42269.0,1106.04,26.3,17,0,6262,...,False,False,False,False,False,False,False,False,True,False
2,21029,0,747.0,10,90126.0,1321.85,28.8,5,0,20967,...,False,False,False,False,True,False,False,False,False,False
3,18743,0,747.0,10,38072.0,751.92,26.2,9,0,22529,...,True,False,False,False,True,False,False,False,False,False
4,11731,0,746.0,4,50025.0,355.18,11.5,12,0,17391,...,False,True,False,False,True,False,False,False,False,False

In [73]:
df.Purpose.value_counts()

Purpose
Debt Consolidation      203911
Other                    23935
Home Improvements        14915
Business Loan             4712
Buy a Car                 3276
Medical Bills             2868
Take a Trip               1570
Buy House                 1530
Educational Expenses       267
Name: count, dtype: int64

In [75]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [76]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [77]:
r=RandomForestClassifier()
g=GradientBoostingClassifier()

In [78]:
x_train.head()

,Current Loan Amount,Term,Credit Score,Years in current job,Annual Income,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,...,Home Ownership_Own Home,Home Ownership_Rent,Purpose_Buy House,Purpose_Buy a Car,Purpose_Debt Consolidation,Purpose_Educational Expenses,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip
146869,99999999,0,751.0,10,51893.000000,462.71,20.5,11,0,10894,...,False,True,False,False,True,False,False,False,False,False
216995,15898,0,NaN,10,71952.716187,431.72,29.7,8,0,14092,...,False,True,False,False,True,False,False,False,False,False
68092,10821,0,750.0,7,42277.000000,325.18,25.3,9,0,9549,...,False,False,False,False,True,False,False,False,False,False
51423,14972,1,NaN,8,71952.716187,1698.50,11.6,18,0,7981,...,False,True,False,False,True,False,False,False,False,False
84870,99999999,1,730.0,10,69117.000000,708.45,20.9,13,0,16819,...,False,False,False,False,True,False,False,False,False,False

In [79]:
y_train.head()

        Loan Status
146869   Fully Paid
216995   Fully Paid
68092   Charged Off
51423    Fully Paid
84870    Fully Paid

In [80]:
model=r.fit(x_train,y_train)

C:\Users\akbab\.anaconda\anacon\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [81]:
x_test.head()

,Current Loan Amount,Term,Credit Score,Years in current job,Annual Income,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,...,Home Ownership_Own Home,Home Ownership_Rent,Purpose_Buy House,Purpose_Buy a Car,Purpose_Debt Consolidation,Purpose_Educational Expenses,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip
70992,8987,0,748.0,1,119832.0,1378.07,16.5,11,0,28354,...,False,False,False,False,True,False,False,False,False,False
97602,23846,1,651.0,6,59843.0,1077.18,17.0,15,2,30509,...,False,True,False,False,True,False,False,False,False,False
5902,15332,0,747.0,4,58260.0,1437.07,15.9,13,0,18050,...,False,True,False,False,True,False,False,False,False,False
160249,17414,0,6950.0,5,48528.0,1548.85,15.6,17,0,28345,...,False,False,False,False,True,False,False,False,False,False
16261,99999999,0,742.0,2,187785.0,1359.88,11.2,16,0,17515,...,False,True,False,False,True,False,False,False,False,False

In [82]:
tahmin=model.predict(x_test)

In [83]:
accuracy_score(tahmin,y_test)

0.8461388797011499

In [84]:
model=g.fit(x_train,y_train)#burda hata aldım

ValueError: Input X contains NaN.
GradientBoostingClassifier does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [86]:
tahmin2=model.predict(x_test)

In [87]:
accuracy_score(tahmin2,y_test)

0.8461388797011499

Random Forest Classifier kullandık