, müşteri segmentasyonu yapmak için RFM analizi (Recency, Frequency, Monetary) ve K-Means kümeleme yöntemleri

In [18]:
import pandas as pd
import sqlite3
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [19]:
# CSV dosyasını oku
df = pd.read_csv("PBL5recommendationdata.csv", encoding="latin-1")

# İlk satırlara göz atalım
print(df.head())

# Sütun isimlerini kontrol edelim
print(df.columns)

   Customers.id Customers.fname Customers.lname Customers.company  \
0           797         Christy            Dill          Company0
1             3            John           Smith          Company1
2             3            John           Smith          Company1
3             4           James        Anderson               NaN
4             5         Abraham          Pollak          Company3

   Customers.create_date  Customers.status  Customers.mailing  \
0             1426018724               NaN                NaN
1             1386089139               NaN                NaN
2             1386089139               NaN                NaN
3             1386780263               NaN                NaN
4             1386861599               0.0                0.0

   Customers.reminders  Customers.tax_exempt  Customers.account_id  ...  \
0                  NaN                   NaN                   NaN  ...
1                  NaN                   NaN                   NaN  ...
2                  NaN                   NaN                   NaN  ...
3                  NaN                   NaN                   NaN  ...
4                  NaN                   NaN                   NaN  ...

   Products.google_shopping_label  Products.product_option    Products.size  \
0                             NaN                      NaN              NaN
1                             NaN                      NaN              NaN
2                             NaN                      NaN  2 x Extra large
3                             NaN                      NaN              NaN
4                             NaN                      NaN              NaN

   Products.material  Products.arm_style  Products.leg_style  \
0                NaN                 NaN                 NaN
1                NaN                 NaN                 NaN
2            Nitrile                 NaN                 NaN
3                NaN                 NaN                 NaN
4                NaN                 NaN                 NaN

   Products.seat_size Products.family_id Products.saved_status  \
0                 NaN            PF61071                   0.0
1                 NaN            PF02132                   NaN
2                 NaN            PF00342                   0.0
3                 NaN            PF04970                   NaN
4                 NaN            PF03045                   NaN

  Products.freight_cost
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN

[5 rows x 181 columns]
Index(['Customers.id', 'Customers.fname', 'Customers.lname',
       'Customers.company', 'Customers.create_date', 'Customers.status',
       'Customers.mailing', 'Customers.reminders', 'Customers.tax_exempt',
       'Customers.account_id',
       ...
       'Products.google_shopping_label', 'Products.product_option',
       'Products.size', 'Products.material', 'Products.arm_style',
       'Products.leg_style', 'Products.seat_size', 'Products.family_id',
       'Products.saved_status', 'Products.freight_cost'],
      dtype='object', length=181)

C:\Users\akbab\AppData\Local\Temp\ipykernel_24420\171104948.py:2: DtypeWarning: Columns (20,33,73,106,158) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("PBL5recommendationdata.csv", encoding="latin-1")

In [23]:
# Müşteri bilgilerini içeren tabloyu oluştur
customers = df[[
    'Customers.id', 'Customers.fname', 'Customers.lname', 'Customers.company'
]].rename(columns={'Customers.id': 'CustomerID'})

# Ürün bilgilerini içeren tabloyu oluştur
products = df[[
    'Products.id', 'Products.name', 'Products.price'
]].rename(columns={'Products.id': 'ProductID'})

# Sipariş bilgilerini içeren tabloyu oluştur
orders = df[[
    'Orders.id', 'Orders.customer_id', 'Orders.placed_date', 'Orders.total'
]].rename(columns={'Orders.customer_id': 'CustomerID', 'Orders.placed_date': 'OrderDate', 'Orders.total': 'TotalAmount'})

In [24]:
# SQLite veritabanı oluştur
conn = sqlite3.connect("rfm_database.db")

# DataFrame'leri SQL tablolarına dönüştür
customers.to_sql("customers", conn, if_exists="replace", index=False)
products.to_sql("products", conn, if_exists="replace", index=False)
orders.to_sql("orders", conn, if_exists="replace", index=False)

# Veritabanı bağlantısını kapat
conn.close()

In [26]:
# SQL sorgusu ile tüm verileri al
query = """
SELECT o.CustomerID, o.placed_date AS OrderDate, o.total AS TotalAmount
FROM orders o
JOIN customers c ON o.CustomerID = c.CustomerID
"""

df = pd.read_sql(query, conn)

# Bağlantıyı kapat
conn.close()

DatabaseError: Execution failed on sql '
SELECT o.CustomerID, o.placed_date AS OrderDate, o.total AS TotalAmount
FROM orders o
JOIN customers c ON o.CustomerID = c.CustomerID
': no such column: o.placed_date

In [27]:
df.columns

Index(['Customers.id', 'Customers.fname', 'Customers.lname',
       'Customers.company', 'Customers.create_date', 'Customers.status',
       'Customers.mailing', 'Customers.reminders', 'Customers.tax_exempt',
       'Customers.account_id',
       ...
       'Products.google_shopping_label', 'Products.product_option',
       'Products.size', 'Products.material', 'Products.arm_style',
       'Products.leg_style', 'Products.seat_size', 'Products.family_id',
       'Products.saved_status', 'Products.freight_cost'],
      dtype='object', length=181)

In [30]:
import pandas as pd
import sqlite3
from sklearn.cluster import KMeans
from datetime import datetime

# 1. Veri Setini Okuma
df = pd.read_csv("PBL5recommendationdata.csv", encoding="latin-1")

# 2. DataFrame'leri oluşturma
customers = df.filter(regex=r'Customers\..*')
products = df.filter(regex=r'Products\..*')
orders = df.filter(regex=r'Orders\..*')

# Sütun isimlerini temizleme
customers.columns = customers.columns.str.replace('Customers.', '', regex=True)
products.columns = products.columns.str.replace('Products.', '', regex=True)
orders.columns = orders.columns.str.replace('Orders.', '', regex=True)

# 3. SQLite Veritabanına Ekleme
conn = sqlite3.connect("customer_data.db")
customers.to_sql("customers", conn, if_exists="replace", index=False)
products.to_sql("products", conn, if_exists="replace", index=False)
orders.to_sql("orders", conn, if_exists="replace", index=False)

# 4. Veritabanından Verileri Tekrar Çekme
customers = pd.read_sql("SELECT * FROM customers", conn)
products = pd.read_sql("SELECT * FROM products", conn)
orders = pd.read_sql("SELECT * FROM orders", conn)

# 5. Tabloları Birleştirme
merged_df = orders.merge(customers, left_on='customer_id', right_on='id', how='left')
merged_df = merged_df.merge(products, left_on='product_id', right_on='id', how='left')

# 6. RFM Analizi İçin Hazırlık
now = datetime.today()
rfm = merged_df.groupby('customer_id').agg({
    'order_date': lambda x: (now - pd.to_datetime(x).max()).days,
    'id_x': 'count',
    'total_amount': 'sum'
})
rfm.columns = ['Recency', 'Frequency', 'Monetary']
rfm.reset_index(inplace=True)

# 7. KMeans ile Müşteri Segmentasyonu
kmeans = KMeans(n_clusters=4, random_state=42)
kmeans.fit(rfm[['Recency', 'Frequency', 'Monetary']])
rfm['Segment'] = kmeans.labels_

# 8. Sonuçları Kaydetme
rfm.to_csv("rfm_segments.csv", index=False)
print(rfm.head())

C:\Users\akbab\AppData\Local\Temp\ipykernel_24420\24632651.py:7: DtypeWarning: Columns (20,33,73,106,158) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("PBL5recommendationdata.csv", encoding="latin-1")

OperationalError: table "products" already exists

In [29]:
conn = sqlite3.connect("customer_data.db")
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS customers")  # Önce tabloyu sil
conn.commit()

# Şimdi tekrar ekleyebilirsin
customers.to_sql("customers", conn, if_exists="replace", index=False)

4194